{% extends 'base.html' %}

{% block title %} Edit {% endblock %}

{% block content %}
<div class="item my-4 mx-auto w-100">
    <!-- <h2 class="mb-3 text-center">Client Virtual Machine Needs</h2> -->
    <div class="table-responsive shadow-sm rounded">
        <form action="/save/" method="POST">
            <table class="table table-bordered table-hover table-striped align-middl">
                <thead>
                    <tr>
                        <th class="text-center">Enterprise (ID)</th>
                        <th class="text-center">Number of Virtual Machines Needed</th>
                        <th class="text-center">Remove</th>

                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <input type="hidden" value="{{client['id']}}" name="id">
                        <td class="text-center">
                            <input type="text" class="form-control border-0 bg-transparent text-center p-0 text-center fw-bold" name="name" value="{{client['name']}}"> ({{client['id']}})
                        </td>
                        <td class="text-center">
                            <input type="number" class="form-control border-0 bg-transparent text-center p-0 transparent-input text-center" name="nbr"  value="{{client['nbr_vms']}}">
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger btn-sm w-100 h-100 p-2" onclick="removeRow(this)">
                                <i class="bi bi-x-circle"></i> Remove
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <button type="button" onclick="addRow()" class="mx-auto btn btn-lg btn-success w-25 p-3"><i class="bi bi-plus-circle"> add</i></button>
                <button type="submit" class="mx-auto btn btn-lg btn-primary w-25 p-3"><i class="bi bi-box-arrow-down"> Save</i></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}