nav a {
    /* color: #4ECCA3; */
    font-size: 2.2em;
    /* margin-left: 50px; */
    text-decoration: none;
}

.color-green {
    color: #4ECCA3;
}

.bg-green {
    background-color: #4ECCA3;
}

.color-dark-grey {
    color: #24292e;
}

.bg-dark-grey {
    background-color: #24292e;
}

.color-light-grey {
    color: #393E46;
}

.bg-light-grey {
    background-color: #393E46;
}

.color-light {
    color: #EEEEEE;
}

.bg-light {
    background-color: #EEEEEE;
}

 .bg-light-custom {
    background-color: #4C585B;
 }